.container__product{
    padding: 3rem;
    border: solid rgb(193, 193, 193) 0.5px;
    border-radius: 10px;


    span{
        margin-bottom: 0.5rem;
    }
}
.product__info-container{
    margin-top: 2rem;
    padding: 3rem;
    border: solid rgb(193, 193, 193) 0.5px;
    border-radius: 10px;
    h5{
        margin-bottom: 1rem;
    }
}