  .quantity-btn {
      background-color: transparent;
      border: none;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
  }

  .quantity-input {
      text-align: center;
      width: 2rem;
  }

  .btn-danger {
    margin-left: 2rem;
  }